---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero';
import SafariPackages from '../components/SafariPackages';
import Destinations from '../components/Destinations';
import About from '../components/About';
import Testimonials from '../components/Testimonials';
import BookingForm from '../components/BookingForm';
---

<Layout 
  title="African Safari Tours - Kenya, Tanzania & Uganda" 
  description="Experience authentic African safaris with Joeventure Tours. Expert guides, Big Five encounters, 400+ happy travelers. Book your dream safari in Kenya, Tanzania & Uganda."
>
  <Hero client:load />
  <SafariPackages client:load />
  <Destinations client:load />
  <About client:load />
  <Testimonials client:load />
  <div class="container-custom relative z-20 my-20">
    <BookingForm 
      client:load 
      packageName="Start Your Safari" 
      packageId="custom" 
    />
  </div>
</Layout>
